@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
  font-family: Verdana, sans-serif; 
  background-color: #DBCEBF;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

h4{
  color: #DBCEBF;
}

a{
  color: #DBCEBF;
}

*{
  transition:all 0.3s ease-in-out;
  
}


/* *********** navBar and topSection ************** */

.top{
  background-color: #5B343B;
  color: #DBCEBF;
  height: 750px;
  

}

.top_container{
  /* clear:both; */
  overflow:auto;
  /* margin: 10px ; */
  padding: 10px;
  background-color: #5B343B;
  color: #DBCEBF;
}

/* Makes nav text float right */
nav{
  float:right;
}

/* Css for logo */
.logo{
  float:left;
  height:25%;
  width:25%}

/* Navbar CSS */
ul li{
  display: inline-block; 
  padding:10px;
  font-size: large;
}

.nav_text:hover{
  color: #826963;
  transition-delay: 0ms;
}

/* CSS for book image */
.bk{
  width: 40%;
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 55%;
  bottom: 5px;
}

/* ****************** coreTeamSection ***************************** */

.Workshops_sec{
  background-color: #DBCEBF;
  color: #5B343B;
}

.slide_img{
  padding:70px;
  width: auto;
  height: auto;
  border-radius: 20%;
}

/* .carousel-item:hover .active:hover .slide_img:hover{
  background-color: #DBCEBF;
} */

/* .nohover:hover { border: 0 } */

#workshop_text{
  text-align: center;
  padding-top: 50px;
  margin: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #5B343B;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */


/* Caption text */
.text {
  color: #5B343B;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.actives:hover {
  background-color:#826963;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/******************************* Work Section *************************** */

.work{
  height: 650px;
  background-color: #5B343B;
  color: #DBCEBF;
  text-align: center;
  padding-bottom: 5%;
}

.work_contain{
  position: relative;
  display: flex;
  flex-direction:column  ;
}

.work_text{
  padding-top: 50px;
  padding-bottom: 50px;
}

.working{
  position: absolute;
}

.work_table{
  position: relative;
  left: 210px;
}

table{
  width: auto; 
}

th, td {
  padding-left: 70px;
}

#tabletext{
  margin-top: 20px;
}
/**************************** Workshop Section *************************/

.Core_team{
  height: 650px;
  background-color: #DBCEBF;
  color: #5B343B;
  text-align:center;
}

#core_text{
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

/**************************** Join US Section *************************/

.Join_us{
  height: 690px;
  background-color: #5B343B;
  color: #DBCEBF;
  text-align:left;
  position: relative;
  margin: 0;
}

#join_text{
  position:absolute;
  left: 70%;
  margin: 40px;
}

.right{
  position: relative;
  left: 260px;
  top: 40px
}

a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #5B343B;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
  position: relative;
  /* float: right; */
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #826963;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #5B343B;
  background-color:#DBCEBF ;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  /* position: absolute; */
  float: right;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #5B343B;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #5B343B;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #5B343B;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #5B343B;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #5B343B;
  color: #DBCEBF;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{  
  background-color:#5B343B;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #777;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

.joinUs_form{
  position: absolute;
  top: 10%;
  left: 65%;
  line-height: 7rem;
}

/**************************** Contact US Section *************************/

.Contact_us{
  padding-top: 40px;
  height: 650px;
  background-color: #DBCEBF;
  color: #5B343B;
  text-align:left;
}

#contact_text{
  position:absolute;
  left: 70%;
}

.contact_img{
  width: 600px; 
  display: inline-block;
  
}

.contact_imge{
  width: 40px;
}

.contact_table td{
  margin-left:50px ;
  padding: 30px;
}

/* *********************************** Log in ******************************************************* */

.button{
  background-color: #5B343B;
  
}

.title{
  color: #DBCEBF;
}

.modal-box
.show-modal{

    background: #5B343B;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;   
    border: none;
    outline: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: block;
    transition: all 0.3s ease 0s;
}
.show-modal:hover,
.show-modal:link,
.show-modal:focus{
    color: #DBCEBF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.modal-dialog{
    width: 400px;
    margin: 70px auto 0;
}
.modal-dialog{ transform: scale(0.5); }
.modal-dialog{ transform: scale(1); }
.modal-dialog .modal-content{
    text-align: center;
    border: none;
}
.modal-content .close{
    color: #DBCEBF;
    background: #5B343B;
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    line-height: 27px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    z-index: 1;
    transition: all 0.3s;
}
.modal-content .close:hover{
    color: #5B343B;
    box-shadow: 0 0 5px #DBCEBF;
}

.modal-body{ padding: 60px 40px 40px !important; }
.modal-body .title{
    color:#DBCEBF ;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.modal-body .description{
    color: #9A9EA9;
    font-size: 16px;
    margin-bottom: 20px;
}
.modal-body .form-group{
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}
.modal-body .input-icon{
    color: #777;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
}
.modal-body .form-control{
    font-size: 17px;
    height: 45px;
    width: 100%;
    padding: 6px 0 6px 50px;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}
.form-control::placeholder{
    color: #AEAFB1;
}
.form-group.checkbox{
    width: 130px;
    margin-top: 0;
    display: inline-block;
}
.form-group.checkbox label{
    color: #9A9EA9;
    font-weight: normal;
}
.form-group.checkbox input[type=checkbox]{
    margin-left: 0;
}
.modal-body .forgot-pass{
    color: #DBCEBF  ;
    font-size: 13px;
    text-align: right;
    width: calc(100% - 135px);
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease 0s;
}
.forgot-pass:hover{
    color: #826963;
}
.modal-content .modal-body .btn{
    color: #fff;
    background: #5B343B;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
}
.modal-content .modal-body .btn:hover{
    color: #fff;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* .modal-content .modal-body .btn:focus{ outline: none; }
@media only screen and (max-width: 480px){
    .modal-dialog{ width: 95% !important; }
    .modal-content .modal-body{
        padding: 60px 20px 40px !important;
    }
} */

.login:hover{
  color: #826963;
}